.App {
  height : 100vh;
  width : 100%;
  /* background-color: var(--main-color); */
  font-family: 'Courier New', Courier, monospace;
}

.BackgroundContainer {
  width: 100vw;
  height: 100%;
}

.SideBarContainer {
  /* background-color: var(--main-color); */
  position: fixed;
  display: flex;
  height : 100vh;
  width : calc(var(--sidebar-width) + var(--sidebar-padding)*2);
  font-family: 'Courier New', Courier, monospace;
  padding: var(--sidebar-padding);
}

.PageContainer {
  margin-left: calc(var(--sidebar-width) + var(--sidebar-padding)* 2);
  height: 100%;
  padding-top: var(--page-v-padding);
  padding-bottom: var(--page-v-padding);
  padding-left: var(--page-h-padding);
  padding-right: var(--page-h-padding);
  font-family: 'Courier New', Courier, monospace;
  /* width : calc(auto - var(--sidebar-width)) !important; */
  /* overflow: hidden; */
}

.HomePage {
    /* background-color: var(--page-bg-color); */
    background-color: #a39e8588;
    /* opacity: 50%; */
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    float: center;
    border-radius: 30px;
    cursor: default;
}

.Article {
    background-color: var(--article-bg-color);
    padding: 50px;
    /* color: var(--page-text-color); */
    /* color: var(--sidebar-color); */
    color: var(--sidebar-color);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: rgb(121, 107, 81) 0px 0px 2px 0px;
    transition: transform .5s, box-shadow .5s;
    font-size: 15pt;
}

.Article:hover {
    transform: translate(-2px, -2px);
    box-shadow: rgb(121, 107, 81) 0px 0px 4px 4px;
}